@import "../../styles/base/variables";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;

  li {
    &:last-child {
      .link {
        border: 1px solid $green-100;
        background-color: transparent;
        color: $green-100;

        &:hover {
          background-color: $green-500;
          color: $white;
          border-color: $green-500;
        }
      }
    }
  }
}

.link {
  background-color: $blue-100;
  padding: $spacing-xs $spacing-s;
  color: white;

  &:hover {
    background-color: $blue-500;
  }
}
