@import "./../../styles/base/variables";

.footer {
  display: flex;
  width: 100%;
  background-color: $blue-500;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-xs $spacing-s;
}
